:host {
  --bg-color: #edf1f3;
  --border: none;
  --border-radius: 4px;
  --header-padding: 8px;
  --header-bg-color: #72a0a8;
  --header-text-color: #fff;
  --avatar-size: 80px;
  --name-font-size: inherit;
  --name-font-weight: bold;
  --rank-font-size: inherit;
  --preloader-color: #72a0a8;
  --badges-padding: 8px;
  --badge-border-radius: 4px;
  --badge-bg-color: #fff;
  --badge-box-shadow: 0px 1px 2px rgba(23, 36, 50, 0.3);
  --badge-border: none;
  --badge-margin: 8px;
  --badge-padding: 4px;
  --badge-text-color: #000;
  --badge-rank-font-size: 0.85em;
  --badge-rank-font-weight: bold;
  --badge-icon-size: 24px;
  --badge-technology-font-weight: 600;
  --badge-technology-font-size: inherit;
  --badge-label-font-weight: 600;
  --badge-label-font-size: 12px;
  --badge-location-font-size: 0.85em;
  --badge-location-font-weight: normal;
  --branding-text-color: inherit;
  width: 100%;
  display: block;
}
.codersrank-summary {
  position: relative;
  line-height: 1.5;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  border: var(--border);
  position: relative;
  display: block;
  letter-spacing: 0;
  text-decoration: none;
  text-transform: none;
  font-variant: none;
  font-style: normal;
  font-weight: normal;
  text-shadow: none;

  &-head {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--header-padding);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    text-align: left;
    &-content {
      width: 100%;
      flex-shrink: 10;
      min-width: 0;
    }
    &-name {
      font-size: var(--name-font-size);
      font-weight: var(--name-font-weight);
    }
    &-rank {
      font-size: var(--rank-font-size);
    }
    &-only {
      border-radius: var(--border-radius);
    }
  }
  &-avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    margin-right: 10px;
  }
  &-badges {
    padding: var(--badges-padding);
  }
  &-badge {
    padding: var(--badge-padding);
    width: 100%;
    flex-shrink: 10;
    min-width: 0;
    border-radius: var(--badge-border-radius);
    box-shadow: var(--badge-box-shadow);
    border: var(--badge-border);
    text-align: center;
    color: var(--badge-text-color);
    background-color: var(--badge-bg-color);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
  }
  &-horizontal {
    .codersrank-summary-badges {
      display: flex;
    }
    .codersrank-summary-badge + .codersrank-summary-badge {
      margin-left: var(--badge-margin);
    }
  }
  &-vertical {
    .codersrank-summary-avatar {
      margin-right: 0;
    }
    .codersrank-summary-head {
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
    }
    .codersrank-summary-badge + .codersrank-summary-badge {
      margin-top: var(--badge-margin);
    }
  }
  &-badge-rank {
    font-size: var(--badge-rank-font-size);
    font-weight: var(--badge-rank-font-weight);
  }
  &-badge-location {
    line-height: 1.2;
    font-size: var(--badge-location-font-size);
    font-weight: var(--badge-location-font-weight);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-badge-technology {
    margin: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--badge-technology-font-size);
    font-weight: var(--badge-technology-font-weight);
  }
  &-badge-technology-logo {
    width: var(--badge-icon-size);
    height: var(--badge-icon-size);
    margin-right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-badge-technology img {
    max-width: var(--badge-icon-size);
    max-height: var(--badge-icon-size);
  }
  &-badge-icon {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }
  &-badge-name {
    flex-shrink: 10;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-badges-vertical {
    .codersrank-summary-badge-technology {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .codersrank-summary-badge-technology-logo {
      margin-right: 0;
      margin-bottom: 2px;
    }
  }
  &-badges-horizontal-wide {
  }
  &-badge-seniority &-badge-image,
  &-badge-streak &-badge-image {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: auto;
      height: 100%;
    }
  }
  &-badge-streak &-badge-image {
    height: 40px;
  }
  &-badge-seniority &-badge-label,
  &-badge-streak &-badge-label {
    margin: 8px 0;
    font-size: var(--badge-label-font-size);
    font-weight: var(--badge-label-font-weight);
    line-height: 1.25;
  }
  &-badge-seniority &-badge-technology {
    margin: 0;
  }
  &-badge-streak &-badge-days {
    text-transform: uppercase;
    font-size: var(--badge-label-font-size);
    opacity: 0.75;
    margin-top: 4px;
    margin-bottom: auto;
  }
  &-placeholder {
    pointer-events: none;
    .codersrank-summary-head,
    .codersrank-summary-badges {
      visibility: hidden;
      opacity: 0;
    }
  }

  &-preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 32px;
    height: 32px;
    margin: -16px 0 0 -16px;
    border: 3px solid var(--preloader-color);
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: preloader 1s infinite linear;
  }
  &-branding {
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    color: var(--branding-text-color);
    display: flex;
    margin-top: 0.5em;
    a {
      opacity: 0.5;
      display: flex;
      align-items: center;
      color: inherit;
      text-decoration: none;
      transition-duration: 200ms;
      position: relative;
      z-index: 1;
      transform: translate3d(0, 0, 0);
    }
    a:hover {
      opacity: 1;
    }
    span {
      margin-right: 4px;
    }
    svg {
      height: 16px;
      width: auto;
    }
  }
}

@keyframes preloader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
